<div class="dialog-container">
    <div class="row d-flex">{{title}}</div>
    <div>
        <p class="dialog-content text-center dialog-msg" *ngFor="let message of messages; let i = index;">{{message}}</p>
    </div>
    <div class="dialog-footer-btns mt-3">
        <button mat-raised-button color="accent" class="button" (click)="onDismiss()">{{closeBtnLabel}}</button>
        <button mat-raised-button color="primary" class="button" (click)="onConfirm()">{{confirmBtnLabel}}</button>
    </div>
</div>