<mat-toolbar>
    <button mat-icon-button routerLink="home">
        <mat-icon>home</mat-icon>
    </button>
    <span routerLink="home">Health Tracker</span>
    <span class="spacer"></span>
    <button mat-icon-button>
        <mat-icon>important_devices</mat-icon>
    </button>
    <span>Blood Pressure</span>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="blood-sugar">
        <mat-icon>favorite</mat-icon>
    </button>
    <span routerLink="blood-sugar">Blood Sugar</span>
    <span class="spacer"></span>
</mat-toolbar>

<router-outlet></router-outlet>
<div class="screen-unsupported">
    Your screen width is too small to view this application.
    <br />
    Kindly switch to desktop view or run this in a device with larger screen.
</div>