.spacer {
    width: 25px;
}

.mat-toolbar {
    height: 40px;
    ;
}

.mat-toolbar ::ng-deep span {
    font-size: 14px;
}

span:not(.spacer) {
    cursor: pointer;
}

.mat-drawer {
    width: 160px !important;
    max-height: fit-content;
}

.mat-drawer-container {
    overflow: visible !important;
}

.app-footer {
    position: fixed;
    bottom: 0;
    background: #f1f1f1;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding-top: 2px;
}

#versionInfo {
    font-size: x-small;
}

div {
    line-height: 1em !important;
    font-size: 13px !important;
}