#addNewForm {
    width: 70vw;
    margin: 0 auto;
}

.mat-icon.custom {
    color: white !important;
    border-radius: 10px !important;
}

.darkgreen-bg {
    background-color: darkgreen !important;
}

.orange-bg {
    background-color: orange !important;
}

.red-bg {
    background-color: red !important;
}